<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세보기</title>
</head>
<body>
<h1>게시물 상세보기</h1>

<form action="/userReg" method="post">
    이름 : <input type="text" name="name"/><br />
    이메일 : <input type="text" name="email"/><br />
    암호 : <input type="password" name="password"/><br />
    <input type="submit" value="회원가입"/>
</form>
</body>
</html>