<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시판목록보기</title>
    <link rel="stylesheet" href="board.css"/>
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>김재혁 - 글 목록보기</h3>
        </div>
    </div> <!--page-title 끝-->

    <div class="login-info">
        <div class="container">
            <span class="login-info_user">
                <span>김재혁</span>
            </span>
            <span class="login-info_logout">
                <a href="/logout">로그아웃</a>
            </span>
            <span class="login-info_join">
                <a href="/userRegForm">회원가입</a>
            </span>
        </div>
    </div>
    <!-- board list area-->
    <div id="board-list">
        <div class="container">
            <thead>
                <tr></tr>
            </thead>
        </div>
    </div>
</section>
</body>
</html>