<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>게시판목록보기</title>
    <link rel="stylesheet" href="board.css"/>
</head>
<body>
<section class="board">
    <div class="page-title">
        <div class="container">
            <h3>김재혁 - 글 목록보기</h3>
        </div>
    </div>

    <div class="login-info">
        <div class="container">
            <span class="login-info_user"></span>
        </div>
    </div>
</section>
    <h1>즐거운 스프링 부트</h1>
</body>
</html>